body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.card{

      transition:0.3s;

      background-color: #fff;
}
.card .card-block,.card .card-img-top
{
    padding: 20px;
}
.card:hover{
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card-footer
{
margin-top: auto;
}
.img-fluid{
    align-self: center;
}
